body{
    background-color: #549234;
    font-family: 'Bree Serif', 'serif';
    padding-top: 4em;
}

#critters, #stars-todo {
    display: flex;
}


#main {
    background-color: #8CD867;
    justify-content: space-around;
    justify-items: center;
    width: 68%;
    border-radius: 10px;
}

nav {
    width: 100%;
    height: 5em;
    background-color: #028090;  
    position: fixed;
    top: 0;
    left: 0;
}

nav img{
    margin: 3px;
}

nav a {
    color: white;
    font-size: 2em;
    text-decoration: none;
    padding-left: 1em;
    padding-right: 1em;
}

nav a:hover {
    color: aqua;
}

#container button {
    width: 5em;
}

.bug, .fish, .sea, .do {
    display: inline-block;
    flex-direction: column;
    width: 11em;
    text-align: center;
}

.bug > #name {
    margin-top: 0px;
}

.fish > #name {
    margin-top: 0px;
}

.sea > #name {
    margin-top: 0px;
}

.bug > img {
    border-radius: 20%;
    width: 2em;
    margin: 10px;
}

.fish > img {
    border-radius: 20%;
    width: 2em;
    margin: 10px;
}

.sea > img {
    border-radius: 20%;
    width: 2em;
    margin: 10px;
}

.bug, .fish, .sea > img:hover {
    border-radius: 50%;
}

#info {
    align-content: center;
    justify-content: center;
    position: fixed;
    right: 10px;
    display: flex;
    flex-direction: column;
    width: 30%;
    
}

#buttons {
    top: 40px;
    background-color: red;
    justify-content: space-around;
    justify-items: center;
    height: 25%;
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-flow: row wrap;
}

button {
    width: 30%;
    margin: .5em;
}

#profile {
    border-radius: 10%;
    right: 0;
    display: flex;
    flex-direction: column;
    background-color: #249452;
    height: 50%;
    text-align: left;
    text-indent: 2em;
}

#dailyFish, #dailyBugs, #dailySea {
    background-color: #8CD867;
    justify-content: space-around;
    justify-items: center;
    width: 68%;
    height: 400px;
    border-radius: 10px;
    margin: 2em;
    overflow: scroll;
    overflow-x: hidden;
}

#tasks {
    background-color: #8CD867;
    justify-content: space-around;
    justify-items: center;
    width: 50%;
    height: 430px;
    border-radius: 10px;
    margin: 2em;
    overflow: scroll;
    overflow-x: hidden;
}

#tasks table{
    text-indent: 2em;
}

#stars {
    background-color: #d8d067;
    justify-content: space-around;
    justify-items: center;
    width: 20%;
    height: 430px;
    border-radius: 10px;
    margin: 2em;
    overflow: scroll;
    overflow-x: hidden;
}

#stars p{
    margin: 2em;
    text-align: center;
}

#stars h3{
    margin: 2em;
    text-align: center;
}

#stars img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#scallop {
    background-color: #53a9b2;
    justify-content: space-around;
    justify-items: center;
    width: 20%;
    height: 430px;
    border-radius: 10px;
    margin: 2em;
    overflow: scroll;
    overflow-x: hidden;
}

#scallop p{
    margin: 2em;
    text-align: center;
}

#scallop img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#rod-net-snorkel{
    text-align: center;
}

::-webkit-scrollbar {
    width: 10px;
}
  
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

#stars-todo, #scallop {
    justify-content: center;
}

h2 {
    text-align: center;
}

.name {
    text-transform: capitalize;   
}

footer {
    display: flex;
    justify-items: center;
    justify-content: space-around;
}