body {
    display: flex;
    font-family: 'Bree Serif', serif;
    margin: 0;
    background: #353238;
}

nav {
    width: 100%;
    height: 5em;
    background-color: #028090;  
    position: fixed;
    top: 0;
    left: 0;
}

nav a {
    color: white;
    font-size: 2em;
    text-decoration: none;
    padding-left: 1em;
    padding-right: 1em;
}

nav img{
    margin: 3px;
}

nav a:hover {
    color: aqua;
}

#container {
    height: 100vh;
    background: #353238;
    width: 100%;
    margin-top: 1em;
}

#kkslider {
    display: flex;
}

#tips {
    background-color: #92140C;
    border-radius: 10px;
    height: "500px";
    width: 15%;
    margin-top: 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 3em;
    margin-right: 3em;
}

#tips p{
    margin: 1em;
    text-align: center;
}

#tips img{
    display: block;
    margin-bottom: 2.5em;
}

#cover {
    right: 50%;
    left: 50%;
    height: 20em;
    margin-top: 0.5em;
}

#title {
    font-size: large;
}

#info {
    height: 55%;
    background-color: #BE5A38;
    width: 50%;
    margin-top: 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    margin-left: 3em;
    margin-right: 3em;
}

#info img{
    width: 250px;
    height: 250px;
}

#songs {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: 0 auto;
    background: #C1B4AE;
    margin-top: 1em;
    height: 30%;
    overflow: hidden;
    overflow-x: scroll;
    border-radius: 10px;
}

.song {
    margin: 10px;
    border: white 10px;
}

.song img:hover {
    width: 12em;
}

.song img {
    margin-top: 10px;
    width: 10em;
}

#music {
    width: 50%;
    margin: 0 auto;
    margin-bottom: 10px;
}

audio {
    margin: 0 auto;
    width: 100%;

}

::-webkit-scrollbar {
    width: 10px;
}
  
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}