body{
    background-color: #549234;
    padding-top: 5em;
    font-family: 'Bree Serif', 'Serif';
}

nav {
    width: 100%;
    height: 5em;
    background-color: #028090;  
    position: fixed;
    top: 0;
    left: 0;
}

nav img{
    margin: 3px;
}

nav a {
    color: white;
    font-size: 2em;
    text-decoration: none;
    padding-left: 1em;
    padding-right: 1em;
}

nav a:hover {
    color: aqua;
}

#villagers {
    display: flex;
    flex-direction: row;
    background-color: #A6979C;
    border-radius: 10px;
    width: 70%;
    overflow: scroll;
    overflow-y: hidden;
}

#villagers img {
    width: 8em;
    margin: 1em;
}

.villager {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.critter {
    padding-top: 3em;
    display: flex;
    text-align: center;
}

.critter img {
    width: 3em;
    padding: 0.5em;
}

::-webkit-scrollbar {
    width: 10px;
}
  
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

#holder{
    display: flex;
    flex-direction: column;
}

#bugs-box{
    background-color: #8CD867;
    border-radius: 10px;
    display: flex;
    width: 50%;
    overflow: scroll;
    overflow-y: hidden;
}

#fish-box, #sea-box{
    background-color: #53a9b2;
    border-radius: 10px;
    display: flex;
    width: 50%;
    overflow: scroll;
    overflow-y: hidden;
}