body{
    display: flex;
    background-color: aqua;
    padding-top: 5em;
}

nav {
    width: 100%;
    height: 5em;
    background-color: #028090;  
    position: fixed;
    top: 0;
    left: 0;
}

nav img{
    margin: 3px;
}

nav a {
    color: white;
    font-size: 2em;
    text-decoration: none;
    padding-left: 1em;
    padding-right: 1em;
}

nav a:hover {
    color: aqua;
}
#villagers {
    display: flex;
    flex-direction: row;
    background-color: chartreuse;
}

#villagers img {
    width: 10em;
    margin: .5vh;
}

.villager {
    display: flex;
    flex-direction: column;
    text-align: center;
}