body{
    display: flex;
    background-color: #53a9b2;
    font-family: 'Bree Serif', 'serif';
}

#main {
    background-color: #028090;
    justify-content: space-around;
    justify-items: center;
    width: 68%;
    border-radius: 10px;
}

nav {
    width: 100%;
    height: 5em;
    background-color: #028090;  
    position: fixed;
    top: 0;
    left: 0;
}

nav img{
    margin: 3px;
}

nav a {
    color: white;
    font-size: 2em;
    text-decoration: none;
    padding-left: 1em;
    padding-right: 1em;
}

nav a:hover {
    color: aqua;
}

#push {
    background-color: #028090;
    justify-content: space-around;
    justify-items: center;
    width: 68%;
    border-radius: 10px;
    margin-top: 5em;
}

#container button {
    width: 5em;
}

.sea {
    display: inline-block;
    flex-direction: column;
    width: 11em;
    text-align: center;
}

.sea > #name {
    margin-top: 0px;
}

.sea > img {
    background-color: #19c1d3;
    border-radius: 20%;
    width: 10em;
    margin: 10px;
}

.sea > img:hover {
    border-radius: 50%;
}

#info {
    align-content: center;
    justify-content: center;
    position: fixed;
    right: 10px;
    display: flex;
    flex-direction: column;
    width: 30%;
}

#buttons {
    top: 40px;
    justify-content: space-around;
    justify-items: center;
    height: 25%;
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-flow: row wrap;
}

button {
    font-family: 'Bree Serif', 'serif';
    width: 30%;
    margin: .5em;
}

#profile {
    border-radius: 10%;
    font-family: 'Bree Serif', serif;
    right: 0;
    display: flex;
    flex-direction: column;
    background-color: #19c1d3;
    height: 50%;
    text-align: left;
    text-indent: 2em;
}

.name {
    font-family: 'Bree Serif', serif;
    text-transform: capitalize;
}

::-webkit-scrollbar {
    width: 10px;
}
  
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}