* {
    box-sizing: border-box;
}

body {
    margin: auto;
    border: black solid;
    width: 40vw;
    max-width: 40vw;
    height: 60vh;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

form {
    margin: auto;
    display: flex;
    height: 30vh;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    text-align: center;
}

.split_container {
    display: flex;
    justify-content: center;
    padding-bottom: 5vh;
}

.split_container button {
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

#display {
    font-size: x-large;
}

#total {
    text-align: right;
}

.partyCount {
    display: flex;
}

#container {
    display: flex;
    flex-direction: column;
}

#minus, #plus {
    height: 5vh;
    margin-top: 1.2vh;
    border-radius: 8px;
    border: none;
}

#minus:hover, #plus:hover {
    background-color: gray;
}

#minus:focus, #plus:focus {
    outline: none;
}